* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, hsl(216, 71%, 54%), hsl(310, 54%, 55%));

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    background-color: #fff;
    margin: 0 20px;
    border-radius: 10px;
    padding: 30px;
    overflow: hidden;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    height: 580px;
    position: relative;
}

.content {
    margin: 39px 0 0 0;
    padding: 20px 0;

}

#forms {
    width: 95%;
    height: 95%;
}

#heading {
    text-align: center;
    padding: 20px 0;
    margin: 20px 0;
    position: absolute;
    top: 0;
    left: 165px;
    right: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    margin: 5px 0;
}

.bottom {
    width: 100%;
    padding: 10px 0 2px 0;
    margin: 2px 0 2px 0;
    border: none;
    border-bottom: 2px solid grey;
    box-sizing: border-box;
    transition: border color 0.2s;
}

.forget {
    text-align: right;

}

.forget p a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 13px;
}

.loginbtn {
    width: 100%;
    background-image: linear-gradient(to right, hsl(216, 71%, 54%), hsl(310, 54%, 55%));
    margin: 28px 0 20px 0;
    padding: 10px;
    padding: 20px o;
    border-radius: 50px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;

}

.loginbtn button {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 15px;


}

.loginbtn:hover {
    background-image: linear-gradient(to right, hsl(310, 54%, 55%), hsl(216, 71%, 54%));
}

.signup {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.signup p {
    font-size: 13px;
    color: grey;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.signup button {
    margin: 13px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #fff;
}

#sign {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#sign a {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}